/* ------- GLOBAL ------- */
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFD700;
    text-decoration: none;
}

.gold {
    color: #FFD700;
}

.divider {
    background-color: #FFD700;
    height: 2px;
}

/* ------- HOME PAGE ------- */
.leftCanvas {
    width: 50%;
    height: 100vh; /* vh = Viewport Height (Relative to 1%) */
    background-color: #281144;
}

.rightCanvas {
    width: 50%;
    height: 100vh;
}

.companyName {
    margin-top: 20%;
    font-family: "Cardo", serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 90%;
    font-size: 100px;
    color: white;
}

.subHeading {
    font-family: "Raleway", sans-serif;
    letter-spacing: 6px;
    font-size: 20px;
}

.carousel {
    margin: auto;
    margin-top: 10%;
    height: auto;
    width: 50%;
}

/* ------- NAVBAR ------- */
.navbar {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
}

.rightNav {
    color: black;
    margin-top: 20px;
}

.loginBtn {
    margin-top: 20px;
    height: 40px;
}

.loginBtn:hover {
    color: #FFD700;
}

/* ------- FOOTER ------- */
.socialMedia {
    width: 50%;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 6px;
    text-decoration: none;
    text-align: center;
}

/* ------- CONTENT PAGES ------- */
.emptyCanvas {
    margin: auto;
    margin-top: 2%;
    height: auto;
    width: 50%;
}

.viewContent {
    margin: auto;
    margin-top: 5%;
    /* width: 31%; */
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 4px;
    text-decoration: none;
    text-align: center;
}

.darkGold {
    color: #ffd000;
    font-weight: bold;
}

/* ------- CHECKOUT SIDE-MODAL ------- */
.modal.right .modal-dialog {
    right: 0%;
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal-content {
    border: none;
}

.modal-header {
    color: #fff;
    border-bottom-color: #EEEEEE;
    background-color: #281144;
}

.red {
    color: red;
}

/* ------- FORM VALIDATION ------- */
form#registrationForm  abbr[title] {
text-decoration: none;
color: red;
}

form#registrationForm  span.error {
color: red;
padding-left: 0.5em;
}