/* ------- GLOBAL ------- */
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFD700;
    text-decoration: none;
}

.gold {
    color: #FFD700;
}

.divider {
    background-color: #FFD700;
}

/* ------- HOME PAGE ------- */
.leftCanvas {
    width: 50%;
    height: 100vh; /* vh = Viewport Height (Relative to 1%) */
    background-color: #281144;
}

.rightCanvas {
    width: 50%;
    height: 100vh;
}

.companyName {
    margin-top: 20%;
    font-family: "Cardo", serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 90%;
    font-size: 100px;
    color: white;
}

.subHeading {
    font-family: "Raleway", sans-serif;
    letter-spacing: 6px;
    font-size: 20px;
}

.carousel {
    margin: auto;
    margin-top: 10%;
    height: auto;
    width: 50%;
}

/* ------- NAVBAR ------- */
.navbar {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
}

.rightNav {
    color: black;
    margin-top: 20px;
}

.loginBtn {
    margin-top: 20px;
    height: 40px;
}

.loginBtn:hover {
    color: #FFD700;
}

/* ------- FOOTER ------- */
.socialMedia {
    width: 50%;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    letter-spacing: 6px;
    text-decoration: none;
    text-align: center;
}